
<%- include("../partials/header", {user: currentUser}) -%>

<h1>Profile Page</h1>

<h2>User name</h2>
<p> <%= currentUser.username %></p>
    <% if (currentUser.friends.length > 0) { %>
        <h3>User friends</h3>
        <% currentUser.friends.forEach(user => { %>
        <div>
            <div> <%= user.username %> <div>
            <div> <a href="/user/<%=user.id%>/send/messages">Message</a></div>
        </div>
    <% }) %>
    <% } %>

<p> <%= currentUser.activities %> </p>